<h1><%=link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
<section class ="wrapper">
  <section id="pet-count">
    <h2><%= @shelter.pet_count %> Pets</h2>
  </section>
  <h3><%= link_to "Add Pet", "/shelters/#{@shelter.id}/pets/new" %></h3><br>
  <% @shelter.pets.sort_adoptable.each do |pet| %>
    <section id="pet-<%= pet.id %>">
      <h2><%= link_to pet.name, "/pets/#{pet.id}" %></h2>
      <p><%= image_tag pet.image %></p>
      <p><%= pet.approximate_age %> y/o <%= pet.sex %></p>
      <p><%= link_to pet.shelter_name, "/shelters/#{pet.shelter_id}" %></p>
      <p><%= link_to "Update", "/pets/#{pet.id}/edit" %> <%= link_to "Delete", "/pets/#{pet.id}", method: "delete" %></p><br>
    </section>
  <% end %>
</section>