<section class = "wrapper">
  <%= form_tag "/shelters/#{@review.shelter_id}/shelter_reviews/#{@review.id}", method: :patch do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %><br>

    <%= label_tag :rating %>
    <%= text_field_tag :rating %><br>

    <%= label_tag :content %>
    <%= text_field_tag :content %><br>

    <%= label_tag :picture %>
    <%= text_field_tag :picture %><br>

    <%= submit_tag 'Update' %>
  <% end %>
</section>