<section class = "wrapper">
<% unless favorites.empty? %>
  <%= button_to "Start Adoption Application", '/applications/new', method: :get %>
<% end %>
<section id = "favorites">
    <% @pets.each do |pet| %>
    <section id = "favorite-<%= pet.id %>">
      <%= image_tag pet.image %>
      <%= pet.name %>
      <%= button_to "Remove #{pet.name} from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
  <% end %>
  <%= link_to "Remove All Favorites", "/favorites", method: :delete %>
</section>

  <section id = "favorites-list">
    <h1>All Pets with Applications</h1>
    <% @pets_with_apps.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
    <% end %>
  </section>

</section>
