<h1>Favorites</h1>
<% unless favorites.empty? %>
  <%= button_to "Start Adoption Application", '/applications/new', method: :get %>
<% end %>
<section class = "wrapper">
<h3><%= link_to "Remove All Favorites", "/favorites", method: :delete %></h3>
  <section id = "favorites">
    <% @pets.each do |pet| %>
    <section id = "favorite-<%= pet.id %>">
      <h2><%= pet.name %></h2>
      <p><%= image_tag pet.image %></p>
      <%= button_to "Remove #{pet.name} from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
    <% end %>
  </section>
  <section id = "favorites-list">
    <h2>All Pets with Applications</h2>
    <p><% @pets_with_apps.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
    <% end %></p>
  </section>
</section>
