<section class = "wrapper">
  <%= button_to "Start Adoption Application" %>
  <% @pets.each do |pet| %>
    <section id = "favorite-<%= pet.id %>">
      <%= image_tag pet.image %>
      <%= pet.name %>
      <%= button_to "Remove #{pet.name} from Favorites", "/favorites/#{pet.id}", method: :delete %>
    </section>
  <% end %>
  <%= link_to "Remove All Favorites", "/favorites", method: :delete %>
</section>
