<%= @application.name %><br>
<%= @application.address %><br>
<%= @application.city %><br>
<%= @application.state %><br>
<%= @application.zip %><br>
<%= @application.phone_number %><br>
<%= @application.description %><br>
<% @application.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <%= link_to pet.name, "/pets/#{pet.id}" %><br>
    <%= link_to "Approve Application for #{pet.name}", "/applications/#{@application.id}", method: :patch %>
  </section>
<% end %><br>