<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Numans' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Pets", "/pets" %><%= link_to "Shelters", "/shelters" %>
      <%= link_to "Favorites:", "/favorites" %> <%= favorites.total_count %>
    </nav>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
